{% extends "auctions/layout.html" %}

{% block body %}
{%if done%}
<div class="alert alert-success" role="alert">
  Congrats you won this bid.
</div>
{% endif %}
{%for infos in info%}
<div style="display: inline-block;">
    <img src="{{infos.url}}" class="mr-3" alt="Product Image" height="300" width="300">
</div>
<div class="media-body" style="display: inline-block;">
    <h1 class="mt-0 mb-1">{{infos.listing}}</h1></a>
    <p><b>Description: </b>{{infos.description}}</p>
    <p><b>Price: </b>{{infos.ini_bid}}$</p>
    <a href="{% url 'watchlist_add' infos.id %}" role="button" class="btn btn-outline-success btn-lg">Add to
        Watchlist</a>
</div>


<div>
    <br>

    <form action="{% url 'content' infos.id %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Place Bid">
    </form>
</div>
    {% if message %}
    {{message}}
    {% endif %}
    {% if user %}
    <br>
    {% if owner%}
    <a href="{% url 'close_listing' infos.id %}" role="button" class="btn btn-outline-danger btn-lg">Close Listing</a>
    {% endif %}
    {% endif%}
    
    <div>
        <br>
        <form action="{% url 'add_comment' infos.id %}">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Comment</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="comment"></textarea>
            </div>
            <input type="submit" value="Add">
        </form>
        <br>

    </div>



<div>
    <br>
    {% if comments %}
    {% for key,value in comments.items%}
    <div style="border: 1px solid rgb(199, 194, 194);">
        <p><b>{{key}}- </b></p>
        <p>{{value}}</p>
    </div>
    <br>
    {% endfor %}
    {% endif %}
</div>
{% endfor %}
{% endblock %}