{% extends "auctions/layout.html" %}

{% block body %}

{%for infos in listings%}
<div style="border: 1px solid rgb(199, 197, 197);">
<img src="{{infos.url}}" class="mr-3" alt="Product Image" height="300" width="300">
<div class="media-body" style="display: inline-block;">
    <h1 class="mt-0 mb-1">{{infos.listing}}</h1></a>
    <p><b>Description: </b>{{infos.description}}</p>
    <p><b>Price: </b>{{infos.ini_bid}}$</p>
    <form action="watchlist_add/{{infos.id}}" method="POST">
        {%csrf_token%}
        <input type="submit" class="btn btn-outline-success btn-lg" value="Remove from Watchlist">
    </form>
</div>    
{% endfor %}

{% endblock %}